@mixin shadow($style: "button", $shadow: "") {

    @if ($shadow != "") {
        $shadow: ", " + #{$shadow};
    }

    @if ($style == "button") {
        box-shadow: 0 $gap $gap*2 (-$gap) rgba(#000, 0.2) #{$shadow};
    }
}

@mixin btn-shadow($style: "button", $shadow: "") {
    @if ($shadow != "") {
        $shadow: ", " + #{$shadow};
    }

    @if ($style == "button") {
        box-shadow: (-$gap/4) $gap/4 $gap*0.75 (-$gap/4) rgba(#000, 0.2) #{$shadow};
    }
}

@mixin btn-hover($color: $color-bg) {

    cursor: pointer;
    outline: none;
    transition: all 200ms ease, box-shadow 200ms ease;
    transform: translateY(-$gap/7);
    transform-origin: center;

    box-shadow: 0 1px 0px 0px darken($color, 5), 
    0 2px 0px 0px darken($color, 5),
    0 3px 0px 0px darken($color, 5),
    0 4px 0px 0px darken($color, 5),
    0 5px 0px 0px darken($color, 5),
    0 6px 0px 0px darken($color, 5),
    0 7px 0px 0px darken($color, 5);
}


@mixin btn-active($color: $color-bg) {

    transform: rotate3d(1, 0, 0, 10deg);
    
    box-shadow: 0 1px 0px 0px darken($color, 5), 
    0 2px 0px 0px darken($color, 5),
    0 3px 0px 0px darken($color, 5),
    0 4px 0px 0px darken($color, 5);
}