$color-1: #2998ac;
$color-2: #3c58ad;

$color-black: #000;
$color-white: #fff;



$color-bg: #27292a;
$color-bg-hover: lighten($color-bg, 5);
$color-bg-header: #2d2f2f;
$color-bg-footer: #2d2f2f;

$color-text-1: #efefef;


:root {
    --color-1: $color-1;
    --color-2: $color-2;

    --color-black: $color-black;
    --color-white: $color-white;

    --color-bg: $color-bg;
    --color-bg-hover: $color-bg-hover;

    --color-text-1: $color-text;
}