$color-1: #2998ac;
$color-2: #3c58ad;

$color-dark: #000;
$color-light: #fff;



$color-bg: #27292a;
$color-bg-hover: lighten($color-bg, 5);
$color-bg-header: #2d2f2f;
$color-bg-footer: #2d2f2f;

$color-text-1: #efefef;


:root {
    --color-1: $color-1;
    --color-2: $color-2;

    --color-dark: $color-dark;
    --color-light: $color-light;

    --color-bg: $color-bg;
    --color-bg-hover: $color-bg-hover;

    --color-text-1: $color-text;


    --color-menuItem-hover: rgba($color-light, 0.2);
}