$color-1: #2998ac;
$color-2: #3c58ad;

$color-black: #000;
$color-white: #fff;


$color-bg: #2a2a2a;
$color-bg-hover: lighten($color-bg, 5);


$color-text-1: #fff;


:root {
    --color-1: $color-1;
    --color-2: $color-2;

    --color-black: $color-black;
    --color-white: $color-white;

    --color-bg: $color-bg;
    --color-bg-hover: $color-bg-hover;

    --color-text-1: $color-text;
}