.bg-box {
    background: no-repeat center center fixed;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://picsum.photos/1366/600/?random', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://picsum.photos/1366/600/?random', sizingMethod='scale')";
    // animation: bgZoomIn 12s ease alternate-reverse infinite;
    
    &> .bg-box-content {
        @include bg-gradient();

        color: lighten($color-text-1, 20);
        text-shadow: 0 0 $gapem/4 rgba($color-dark, 0.5);

        .btn-download {
            font-size: $fs-h3;
            font-weight: $fw-light;
    
            .eff-reveal {
                display: inline-flex;
                align-items: center;
            }
    
            .icon {
                font-size: $fs-h1;
                margin-right: $gap/2;
            }
        }

        .sub-link {
            display: inline-block;
            min-width: $gap*5.65;
            padding: $gap/3;
            margin: 0 $gap/3;
            color: $color-text-1;
            font-size: $fs-small;
            font-weight: $fw-light;
            text-decoration: none;
            background-color: rgba(#000000, 0.35);
            transition: all ease 300ms;

            @include bg-blur(rgba(#000, 0.35));

            &:hover {
                @include bg-blur(rgba(#000, 0.2));
                transform: translateY(-$gap/6);
            }

            &:active {
                transition: all ease 100ms;
                transform: scale(0.95) translateY(-$gap/10);
            }
        }
    }


    @media (max-width: #{map-get($grid-breakpoints, "lg")}) {
        background-image: url("https://picsum.photos/992/768/?random") !important;
    }

    @media (max-width: #{map-get($grid-breakpoints, "md")}) {
        background-image: url("https://picsum.photos/768/576/?random") !important;
    }

    @media (max-width: #{map-get($grid-breakpoints, "sm")}) {
        background-image: url("https://picsum.photos/576/768/?random") !important;
    }

}


.bg-box-highlight {
    background-image: linear-gradient(-20deg, #1e1b28 0%, #397fad 100%);

    .bg-box-highlight-content {
        background-image: url(../img/star-bg.svg);
        background-position: top center;
        background-size: cover;
        color: var(--color-light);

        padding-top: $gap*3;
        padding-bottom: $gap*3;

        .eff-reveal-border {
            border-radius: $gap*3;

            .eff-reveal {
                border-radius: $gap*3;
            }
        }
    }
}