.bg-box {
    background: url(https://picsum.photos/1366/1200/?random) no-repeat center center fixed;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://picsum.photos/1366/600/?random', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://picsum.photos/1366/600/?random', sizingMethod='scale')";
    // animation: bgZoomIn 12s ease alternate-reverse infinite;
    
    &> .bg-box-content {
        @include bg-gradient();

        color: lighten($color-text-1, 20);
        text-shadow: 0 0 $gapem/4 rgba($color-dark, 0.5);

        .btn-download {
            font-size: $fs-h3;
            font-weight: $fw-light;
    
            .eff-reveal {
                display: inline-flex;
                align-items: center;
            }
    
            .icon {
                font-size: $fs-h1;
                margin-right: $gap/2;
            }
        }
    }
}