.btn:not(.eff-reveal-border) {
    position: relative;
    display: inline-block;
    padding: $gap/2 $gap*1.5;
    background-color: $color-bg;
    border: 0;
    color: $color-text-1;
    transition: all 200ms ease;
    
    @include btn-shadow();
    @include bg-gradient-gray();

    &:hover,
    &:focus {
        @include btn-hover();
    }
    &:active {
        transition: all 50ms ease;
        transform: translateY(0);
        @include btn-active();
    }


    &.btn-primary {
        @include bg-gradient();
        color: $color-white;
    }
}


.btn.eff-reveal-border {
    display: inline-block;
    background-color: $color-bg;
    background-image: none;
    overflow: hidden;
    transition: all 100ms ease;

    &> .eff-reveal {
        padding: $gap/2 $gap*1.5;
        background-color: $color-bg;
        border: 0;
        color: $color-text-1;
        transition: all 200ms ease;
    
    
        &:hover,
        &:focus {
            color: $color-text-1;
            text-decoration: none;
            outline: none;
        }
    }

    &:hover,
    &:focus {
        cursor: pointer;
        transition: all 200ms ease;
        transform: translateY(-$gap/7);

        &> .eff-reveal {
            @include btn-hover();
        }
    }
    &:active {
        transition: all 50ms ease;
        transform: translateY(0);
        
        &> .eff-reveal {
            @include btn-active();
        }
    }



    &.btn-primary {
        background-image: none;

        &> .eff-reveal {
            @include bg-gradient();
            color: $color-white;
        }
    }

    
}
