#carbonads {
    padding: $gap/2;
	position: relative;
	transition: all 200ms ease;
	box-shadow: 0px 30px 90px -35px rgba(0,0,0,0.3), 
    inset 0 0 0 1px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;

    background-color: rgba($color-light, 0.1);
    @include bg-blur(rgba($color-light, 0.1));
    
    & > span,
    & .carbon-wrap,
    & a {
        display: flex;
        flex-direction: column;
    }

    .carbon-wrap {
        flex-direction: row;
        align-items: stretch;
    }
    a {
        color: $color-text-1;
        font-size: $fs-small;
        font-weight: $fw-normal;
    }
    .carbon-img {
        border-radius: 1px;
    }
    a.carbon-text {
        padding-left: $gap;
    }
    .carbon-poweredby {
        position: absolute;
        bottom: $gap/2;
        right: $gap/2;
        font-size: 11px;
        color: darken($color-text-1, 10);
    }
    // .carbon-poweredby:hover {
        // color: #333 !important;
    // }

    &:hover {
        transform: scale(1.1) rotate3d(0, 0, 1, 2deg) translate(0, $gap/4);
        box-shadow: 0px $gap*2 90px -35px rgba(0,0,0,0.3), 
        inset 0 0 0 1px rgba(0,0,0,0.1);

        @include bg-gradient();
        @include animate-gradient();
    }

    // a.carbon-text:hover {
        // color: #000 !important;
    // }

    &:active {
        transition: all 100ms ease;
        transform: scale(1.05) rotate3d(0, 0, 1, -1deg) translate(0, $gap/4);
    }
}




