.news-list {
	list-style: none;
	padding-left: 0;
    margin-bottom: 0;
    text-align: left;

	.news-item {
		margin-bottom: $gap/3;

        &> .news-item-content {
            display: inline-flex;
            position: relative;
            background-color: rgba($color-bg, 0.8);
            padding: $gap/4;
            transition: all ease 300ms;

            .title {
                font-size: $fs-body;
                margin-right: $gap/2;
                margin-bottom: 0;
            }

            time {
                font-size: $fs-tiny;
                font-weight: $fw-light;
                align-self: center;
                background-color: $color-bg-hover;
                color: $color-text-1;
                padding: $gap/10 $gap/4;
                white-space: nowrap;
            }

            @media (max-width: #{map-get($grid-breakpoints, "lg")}) {

                .title {
                    font-size: $fs-body;
                }
            }
        
        }

		
        &.new-post {
            &> .news-item-content {
                time {
                    @include bg-gradient();
                }
            }
        }
		
	}
}
