
.eff-reveal-border {
    display: inline-block;
    padding: $gap/14;
    transition: all 200ms ease;

    &> .eff-reveal {
        display: block;
        
    }

    &:active {
        transform: scale(0.98);
        transition: all 100ms ease;
    }
}
