@keyframes aniBgGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes slideInDown {
	0% {
		opacity: 0;
		transform: translateY(-($gap*2));
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes floatingStars {
    from {
        background-size: 150% auto;
    }
    to {
        background-size: 170% auto;
    }
}

@keyframes floatingPlanet {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY($gap);
    }
}


@keyframes flyingCow {
    0% {
        transform: matrix3d(0.998798, 0.0490154, 0, 0, -0.0490154, 0.998798, 0, 0, 0, 0, 1, 0, 16.2326, -15.3478, 0, 1);
    }
    12% {
        transform: matrix3d(0.62287, -0.782326, 0, 0, 0.782326, 0.62287, 0, 0, 0, 0, 1, 0, -131.848, 373.092, 0, 1);
    }
    25% {
        transform: matrix3d(0.0593255, -0.998239, 0, 0, 0.998239, 0.0593255, 0, 0, 0, 0, 1, 0, -20.727, 624.605, 0, 1);
    }
    37% {
        transform: matrix3d(-0.557048, -0.83048, 0, 0, 0.83048, -0.557048, 0, 0, 0, 0, 1, 0, 231.396, 770.019, 0, 1);
    }
    40% {
        opacity: 1;
    }
    50% {
        transform: matrix3d(-0.998057, -0.062308, 0, 0, 0.062308, -0.998057, 0, 0, 0, 0, 1, 0, 621.332, 665.976, 0, 1);
    }
    51% {
        opacity: 0;
        transform: matrix3d(-0.973376, 0.229212, 0, 0, -0.229212, -0.973376, 0, 0, 0, 0, 1, 0, 707.657, 564.404, 0, 1);
    }
    60% {
        opacity: 0;
        transform: matrix3d(-0.797037, 0.60393, 0, 0, -0.60393, -0.797037, 0, 0, 0, 0, 1, 0, 772.189, 387.09, 0, 1);
    }
    67% {
        opacity: 1;
        transform: matrix3d(-0.960425, 0.27854, 0, 0, -0.27854, -0.960425, 0, 0, 0, 0, 1, 0, 719.446, 544.38, 0, 1);
    }
    75% {
        transform: matrix3d(-0.203633, 0.979047, 0, 0, -0.979047, -0.203633, 0, 0, 0, 0, 1, 0, 702.952, 74.8115, 0, 1);
    }
    87% {
        transform: matrix3d(0.474907, 0.880036, 0, 0, -0.880036, 0.474907, 0, 0, 0, 0, 1, 0, 453.097, -112.773, 0, 1);
    }
    100% {
        transform: matrix3d(0.998798, 0.0490154, 0, 0, -0.0490154, 0.998798, 0, 0, 0, 0, 1, 0, 16.2326, -15.3478, 0, 1);
    }
}


@keyframes bgZoomIn {
    from {
        background-size: 100% auto;
    }
    to {
        background-size: 140% auto;
    }
}