@keyframes aniBgGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes slideInDown {
	0% {
		opacity: 0;
		transform: translateY(-($gap*2));
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
