@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?t05nlg");
  src: url("../fonts/icomoon.eot?t05nlg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?t05nlg") format("truetype"), url("../fonts/icomoon.woff?t05nlg") format("woff"),
    url("../fonts/icomoon.svg?t05nlg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ethereum:before {
  content: "\e900";
}
.icon-medium:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-bitcoin:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-quotes-left:before {
  content: "\e906";
}
.icon-quotes-right:before {
  content: "\e907";
}
.icon-extension:before {
  content: "\e908";
}
.icon-picture:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-language:before {
  content: "\e90b";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-google-plus:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-youtube:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\e910";
}
.icon-paypal:before {
  content: "\e911";
}
.icon-beer:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-angle-right:before {
  content: "\e914";
}
.icon-angle-left:before {
  content: "\e915";
}
.icon-remove:before {
  content: "\e916";
}
.icon-lightweight:before {
  content: "\e917";
}
.icon-document-edit:before {
  content: "\e918";
}
.icon-pen:before {
  content: "\e919";
}
.icon-sad-face:before {
  content: "\e91a";
}
.icon-happy-face:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-support-user:before {
  content: "\e91d";
}
.icon-support-dev:before {
  content: "\e91e";
}
.icon-bug:before {
  content: "\e91f";
}
.icon-theme:before {
  content: "\e920";
}
.icon-bitcoin-o:before {
  content: "\e921";
}
.icon-gift:before {
  content: "\e922";
}
