.article-post {
    margin-bottom: $gap*2;
    
    .article-img {
        display: block;
        min-height: $gap*4;
        margin-bottom: $gap;
        background-image: url(../img/truchet_tiling.svg);
        transition: all ease 200ms;

        img {
            width: 100%;
            max-height: $gap*6;
            object-fit: cover;

            @media (max-width: calc(#{map-get($grid-breakpoints, "md")} - 1px)) {
                max-height: $gap*3;
            }
        }
    }


    .article-body {
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}