#footer {

    font-size: $fs-tiny;
    font-weight: $fw-light;
    background-color: $color-bg-footer;
    padding-top: $gap * 2;
    padding-bottom: $gap * 1;

    background-image: url(../img/truchet_tiling.svg);
    background-size: 300px;

    .social-links {
        margin-bottom: $gap/4;

        a {
            display: inline-block;
            margin: 0 $gap/3;
            color: var(--color-light);
            font-size: $fs-h3;
            transition: all ease 200ms;

            &:hover {
                text-decoration: none;
                transform: translateY(-$gap/5);
                @include text-gradient();
                @include animate-gradient();
            }

            &:active {
                transition: all ease 100ms;
                transform: translateY(0);
            }
        }
    }
    
}