.home-donate {
    .home-donate-content {
        background-position: left bottom;
        background-size: cover;

        padding-top: $gap*3;
        padding-bottom: $gap*3;

        .eff-reveal-border {
            border-radius: $gap*3;

            .eff-reveal {
                border-radius: $gap*3;
            }
        }
    }
}