.home-news {
    color: $color-text-1;
    background-color: $color-bg-hover;
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;


    .home-news-list {
        background-image: url(../img/news.png);
        background-size: $gap*11;
        background-position: 90% bottom;
        background-repeat: no-repeat;
    }
}