.home-features {
    
    .feature-item {
		display: flex;
		flex-direction: column;
		max-width: $gap * 17.5; //350px
	}

	.eff-reveal-border {
		display: flex;
		flex-direction: column;
		height: 100%;

		.eff-reveal {
			height: 100%;
			padding: $gap;
			background-color: $color-bg;
			transition: all ease 200ms;

			.feature-icon {
				font-size: $gap * 3.5;
			}

			.feature-title {
				font-size: $fs-h3;
			}

			.feature-desc {
				margin-bottom: $gap/2;
			}
		}

		&:hover {
            // @include bg-gradient(!important);
            
            .eff-reveal {
                background-color: lighten($color-bg, 3);
            }
		}
	}

	
}
