.home-top {
	.slogan {
		color: lighten($color-text-1, 20);
	}

	.download-version {
		font-size: $fs-small;

		a {
			color: $color-text-1;
		}
	}

	.top-video {
        background-color: $color-bg;
		box-shadow: 0 (-$gap/2) $gap*2.5 (-$gap/2) rgba($color-dark, 0.4);
	}
}
