[data-page="error.404"] {
	#body {
        background-image: url("../img/star-bg.svg");
        background-size: 100% auto;

        animation: floatingStars 5s ease-in-out alternate-reverse infinite;
    }
    
    #error404SVG {
        margin-top: -$gap*10;
    }

    #moon,
    #astronaut {
        transition: all ease 300ms;
        animation: floatingPlanet 2s ease-in-out alternate-reverse infinite;
    }

    #stars {
        animation: floatingPlanet 2s ease-in-out 1s alternate-reverse infinite;
    }

	#cow {
        transform-origin: 0px 0px 0px;
        transform: matrix3d(0.722307, -0.691572, 0, 0, 0.691572, 0.722307, 0, 0, 0, 0, 1, 0, -134.432, 311.807, 0, 1);
        animation: flyingCow 6s ease infinite;
	}
}
