[data-page="support"] {
    .google-group {
        background-color: darken($color-light, 11);
    }


    .list-support {
        list-style: none;
        padding-left: 0;

        li {
            display: inline-flex;

            .eff-reveal-border {
                display: flex;
                color: $color-text-1;

                .eff-reveal {
                    display: block;
                    background-color: lighten($color-bg, 4);
                    text-align: center;
                    padding: $gap;
                    transition: all 200ms ease;
                }


                .item-icon {
                    font-size: $gap*5;
                }

                &:hover {
                    .eff-reveal {
                        background-color: lighten($color-bg, 6);
                    }
                }
            }

            .quang-cao {
                display: flex;

                #carbonads > span {
                    padding: $gap;
                    height: 100%;

                    &> .carbon-wrap {
                        flex-direction: column;
                        height: 100%;
                        text-align: center;

                        .carbon-img {
                            align-items: center;
                        }

                        .carbon-text {
                            padding-left: 0;
                            margin-top: $gap;
                            flex: 1 1 auto;
                        }
                    }
                }
            }
        }
    }
}
